<form #f="ngForm" (ngSubmit)="add()">
    <div class="form-group">
        <label class="form-label">Title:</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="product.title" #title="ngModel" required minlength="3">
        
        <div *ngIf="title.invalid && title.touched">
            <div *ngIf="title.errors?.['required']">
            Title is required!
        </div>
        <div *ngIf="title.errors?.['minlength']">
            Title must have at least 3 characters!
        </div>
    </div>
    </div>
    <div class="form-group">
        <label class="form-label">Price:</label>
        <input class="form-control" type="number" name="price" [(ngModel)]="product.price"  #price="ngModel"required min=0>
        <div *ngIf="price.invalid && price.touched">
            <div *ngIf="price.errors?.['required']">
            Price is required!
        </div>
        <div *ngIf="price.errors?.['min']">
            price must be positive!
        </div>
    </div>
    </div>
   
    <div class="form-group">
        <label class="form-label">Quantity:</label>
        <input class="form-control" type="number" name="quantity" [(ngModel)]="product.quantity" #quantity="ngModel"required min=0>
        <div *ngIf="quantity.invalid && quantity.touched">
            <div *ngIf="quantity.errors?.['required']">
            Quantity is required!
        </div>
        <div *ngIf="quantity.errors?.['min']">
            quantity must be positive!
        </div>
    </div>
    <div class="form-group">
        <label class="form-label">Email:</label>
        <input class="form-control" type="email" name="email" ngModel #email="ngModel" pattern="[a-zA-Z][a-zA-Z0-9.*+]*@[a-zA-Z]+\.[a-zA-Z]{2,4}">
        <div *ngIf="email.invalid && email.touched">
            <div *ngIf="email.errors?.['pattern']">
            Email invalid!
            </div>
        </div>
        
    </div>
</div>
    <div class="form-group">
       <input class="btn btn-success" type="submit" value="Ajouter" [disabled]="f.invalid" >
    </div>
</form>
{{product.title}}
{{product.price}}
{{product.quantity}}
